# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Data
data/raw/*
data/processed/*
!data/raw/.keep
!data/processed/.keep
!data/external/.keep

# macOS
.DS_Store

# Node
node_modules/
package-lock.json
package.json
extract_pdf.js
